<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.semiproject.repository.NoticeDao">

    <select id="selectAllNotice" resultType="Notice">
        select * from notices where not_certify = 0 order by not_post_id desc
    </select>

    <select id="selectNoticeById" resultType="Notice">
        select * from notices where not_post_id = #{notPostId}
    </select>

    <insert id="insertNotice">
        insert into notices (not_title, not_content) values (#{notTitle},#{notContent})
    </insert>
    
    <update id="updateNotice">
        update notices set not_title = #{notTitle}, not_content = #{notContent}, not_modified_time= sysdate where not_post_id = #{notPostId}
    </update>
    

    <delete id="deleteNotice">
        delete from notices where not_post_id = #{notPostId}
    </delete>
    
    <!-- notice 테이블에서 제목/내용/작성자로 검색 -->
    <select id="search" resultType="Notice">
        <bind name="searchKeyWord" value="'%' + keyword + '%'"/>
        select * from notices
        <where>
            <choose>
                <when test='category.equals("t")'>
                    upper(not_title) like upper(#{searchKeyWord})
                </when>
                <when test='category.equals("c")'>
                    upper(not_content) like upper(#{searchKeyWord})
                </when>
                <when test='category.equals("tc")'>
                    upper(not_title) like upper(#{searchKeyWord}) or upper(not_content) like upper(#{searchKeyWord})
                </when>
            </choose>
        </where>
        order by not_post_id desc
    </select>
    
    
    
    

</mapper>