<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.semiproject.repository.CommentDao"> <!-- dao의 이름과 같아야함. -->
    <!-- id는 dao의 메소드 이름과 일치. resultType는 Comment의 alias 사용. -->
    <select id="selectByPostId" resultType="Comment" > 
        select * from QnAComment
        where qc_post_id = #{qcPostId} <!-- dao의 파라미터 이름 -->
        order by qc_com_id desc 
    </select>
    
    <insert id="insertQnAComment">
        insert into QnAComment (qc_post_id, qc_user_id, qc_content)
        values (#{qcPostId}, #{qcUserId}, #{qcContent})
    </insert>

    <update id="updateQnAComment">
        update QnAComment
        set qc_content =#{qcContent}, qc_modified_time= systimestamp
        where qc_com_id =#{qcComId}
    </update>
    
    <delete id="deleteById">
        delete from QnAComment where qc_com_id = #{qcComId}
    </delete>
    
    <delete id="deleteByPostId">
        delete from QnAComment where qc_post_id = #{qcPostId}
    </delete>
    
    <!-- resultType="Integer" & "int" 는 이미 만들어져 있는 alias -->
    <select id="selectCommentCount" resultType="Integer">
        select count(*) from QnAComment
        where qc_post_id = #{qcPostId}
        order by qc_com_id desc
    </select>
    
    <select id="selectById" resultType="Comment">
        select * from QnAComment
        where qc_com_id = #{qcComId}
        order by qc_com_id desc
    </select>
</mapper>