<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.semiproject.repository.PaymentCancelDao">

	<!--  payId에 대해서 결제 취소 정보를 추가. 취소 테이블 insert -->
	<insert id="insertPaymentCancel">
    INSERT INTO paymentcancel (pay_id, imp_uid, can_amount, can_date, can_role)
    SELECT p.pay_id, p.imp_uid, p.res_total_price, SYSDATE, '구매자'
    FROM payments p
    WHERE p.pay_id = #{payId}
    AND NOT EXISTS (
        SELECT 1 FROM paymentcancel pc WHERE pc.pay_id = p.pay_id)
</insert>
    
<!--     payId에 해당하는 paymentcancel -->
<!--     <select id="selectPaycanByPayId" resultType="PaymentCancel"> -->
<!--     	select pc.pay_id, pc.imp_id, pc.can_id, pc.can_price, pc.can_date, pc.can_role -->
<!--     	, p.imp_uid -->
<!--     	from paymentcancel pc -->
<!--     	join payments p on pc.pay_id = p.pay_id -->
<!--     	where pc.pay_id = (select pay_id from payments where pay_id = #{payId}) -->
<!--     	order by pc.pay_id asc -->
<!--    	</select> -->

</mapper>