<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.semiproject.repository.ReservationDao">

 <select id="selectByResid" resultType="ReservationMaster">
	select * from reservation_master where res_id= #{resId}
 </select>























</mapper>