<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.semiproject.repository.ReservationMasterDao">

    <!-- 예약 내역 -->
    <select id="selectByUserId" resultType="ReservationListDto">
        select 
            user_id,
            res_id,
            res_check_in,
            res_state,
            res_created_time
        from 
            reservation_master
        where 
            user_id = #{userId}
    </select>
    
    <!-- 예약 상세 내역 -->
    <select id="selectByResId" resultType="ReservationMaster">
        select * from reservation_master where res_id = #{resId}
    </select>
    
    <!-- 예약된 구역(아이템) -->
    <select id="selectByResCheckIn" resultType="java.lang.Integer">
        select rd.item_id
        from reservation_master rm
        join reservation_detail rd ON rm.res_id = rd.res_id
        where rm.res_check_in = TO_DATE(#{resCheckIn}, 'YYYY-MM-DD')
        	or(rm.res_check_in = TO_DATE(#{resCheckIn}, 'YYYY-MM-DD') - INTERVAL '1' DAY
        		and rm.res_check_out - rm.res_check_in = 2)
    </select>
    
    <!-- 구역 선택 후 가능한 night 수 -->
    <select id="selectByItemIdAndResCheckIn" resultType="ReservationMaster">
        select rm.*
        from reservation_master rm
        join reservation_detail rd on rm.res_id = rd.res_id
        where rd.item_id = #{itemId}
            and rm.res_check_in = TO_DATE(#{resCheckIn}, 'YYYY-MM-DD') + 1
    </select>
    
    <!-- reservation_master에 데이터 삽입 -->
    <insert id="insertReservationMaster" useGeneratedKeys="true" keyProperty="resId" keyColumn="res_id">
        insert into reservation_master (user_id, res_check_in, res_check_out)
        values (#{userId}, #{resCheckIn}, #{resCheckOut})
    </insert>
    
    <!-- reservation_detail에 데이터 삽입 -->
    <insert id="insertReservationDetail">
        insert into reservation_detail (res_id, item_id, item_quantity, item_amount)
        values (#{resId}, #{itemId}, #{itemQuantity}, #{itemAmount})        
    </insert>
    
    <!-- order 페이지에 넘어가기전 이전 내역 삭제 -->   
    <delete id="deleteByUserId">
        delete from reservation_master where user_id = #{userId} and res_state = 0
    </delete>
    
    <!-- userId에 해당하는 reservation_detail -->
    <select id="selectMasterByUserId" resultType="ReservationMaster">
        select * from reservation_master
         where user_id = #{userId}        
    </select>

</mapper>