<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 테이블 컬럼 이름의 밑줄(underscore)를 자바 클래스의 카멜 표기법 필드로 변환. -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        
         
    </settings>


    <!-- 매퍼 XML 파일에서 resultType 속성을 설정할 때 간단히 하기 위해서 -->
    <typeAliases>

        <typeAlias type="com.itwill.semiproject.repository.Notice" alias="Notice" />
        <typeAlias type="com.itwill.semiproject.repository.QnA" alias="QnA" />
        <typeAlias type="com.itwill.semiproject.repository.Pager" alias="Pager" />
        <typeAlias type="com.itwill.semiproject.repository.Payments" alias="Payments"/>
        <typeAlias type="com.itwill.semiproject.repository.ReservationDetail" alias="ReservationDetail" />
        <typeAlias type="com.itwill.semiproject.dto.ReservationDetailListDto" alias="ReservationDetailListDto" />
        <typeAlias type="com.itwill.semiproject.repository.ReservationMaster" alias="ReservationMaster" />
        <typeAlias type="com.itwill.semiproject.dto.ReservationListDto" alias="ReservationListDto" />
        <typeAlias type="com.itwill.semiproject.repository.Items" alias="Items" />
        <typeAlias type="com.itwill.semiproject.repository.PaymentCancelDao" alias="PaymentCancel"/>
        <typeAlias type="com.itwill.semiproject.repository.User" alias="User" />
        <typeAlias type="com.itwill.semiproject.dto.QnASearchDto" alias="QnASearchDto" />
		<typeAlias type="com.itwill.semiproject.repository.Comment" alias="Comment" />
		<typeAlias type="com.itwill.semiproject.dto.QnAAnswerDto" alias="QnAAnswer" />
		
    </typeAliases>
</configuration>