@charset "UTF-8";
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
}

.heading-wrapper {
    text-align: left; /* 좌측 정렬 */
    margin-bottom: 20px;
    margin-left: 1100px;
    position: relative;
    width: 100%; /* 부모 요소에 맞게 너비 설정 */
    max-width: 1500px;
}

.heading-3 {
    margin-top: 20px;
    display: inline-block;
}

.horizontal-divider, .horizontal-divider2 {
    width: 200px;
    height: 1px;
    margin: 0;
}

.horizontal-divider {
    background: #111111;
}

.horizontal-divider2 {
    background: #ebebeb;
    margin-top: 2px; /* 첫 번째 수평선 아래에 위치하도록 마진 설정 */
}

.image-sidebar-wrapper {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: flex-start; /* 상단 정렬 */
    width: 100%;
    max-width: 1500px;
    margin-bottom: 20px; /* 이미지와 박스 사이의 간격 조정 */
}

.image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center;
}

.intro-sidebar {
    flex: 0 0 200px; /* 사이드바의 너비를 고정으로 설정 */
    margin-right: 20px; /* 사이드바와 이미지 사이의 간격을 설정 */
}

.box {
    border: 5px solid #000000;
    padding: 20px;
    flex: 1; /* 박스가 남은 공간을 차지하도록 설정 */
    box-sizing: border-box;
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: space-between; /* 요소 사이에 공간을 최대한 분배 */
    border-radius: 15px;
    flex-wrap: wrap; /* 화면이 작아질 때 줄바꿈을 허용 */
    margin-bottom: 40px; /* 푸터와 간격을 추가 */
}

.left-content, .right-content {
    flex: 1;
    margin: 20px;
}

.item, .item3 {
    margin-bottom: 10px; /* 각 항목(아이템) 사이에 아래쪽 여백을 설정 */
}

.item2, .item4 {
    margin-top: 40px;
}

img {
    max-width: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 설정 */
    max-height: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 설정 */
    display: block;
    margin: 0 auto; /* 이미지 가운데 정렬 */
    width: 50%; /* 이미지 크기 조정 */
    height: auto; /* 이미지 비율 유지 */
}

@media (max-width: 768px) {
    .box {
        flex-direction: column; /* 창이 작아지면 박스 내부 요소들이 세로로 배치되도록 설정 */
        height: auto; /* 자동 높이 설정 */
    }

    .left-content, .right-content {
        margin: 10px 0; /* 상하 여백 설정 */
    }
    
    .intro-sidebar {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .facility-section {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0; /* 푸터가 수축되지 않도록 설정 */
}
