@charset "UTF-8";

footer a {
    text-decoration: none; /* 링크 밑줄 제거 */
}

footer a:hover {
    text-decoration: underline; /* 링크 호버 시 밑줄 추가 */
}

html, body{
    width: 100%;
    height: 100%;
}

.wrapper {
    /*height : auto;
    min-height: 100%;
    padding-bottom:180px;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.footer-main-content {
    flex: 1;
}

footer {
    /*bottom: 0;*/
    width: 100%;
    background-color: #001522;
    color: white;
    padding: 10px 0;
    box-sizing: border-box; /* 패딩 포함하여 크기 계산 */
    /*position:relative;
    transform:translateY(-100 %)*/
}

.footer-bottom {
    font-size: 0.75rem; /* 작은 글자 크기 */
    color: #aaaaaa; /* 연한 색상 */
    text-align: center;
    width: 100%; /* 전체 너비 차지 */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*padding-bottom: 15px;  푸터 내용이 푸터 영역 내에 있도록 패딩 추가 */
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.column {
    margin-bottom: 0px; /* 아래 여백 추가 */
}

.column h5 {
    margin-bottom: 10px;
}

.footer-content {
    margin-bottom: 5px; /* 각 내용의 아래 여백 추가 */
    font-size: 0.8rem;
    color: white;
}

.image-container img {
    width: 100%; /* 부모 요소의 너비에 맞추어 이미지 크기 조절 */
    height: auto; /* 높이 자동으로 조절 */
}
