@charset "UTF-8";

body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 400px;
            margin-top: 100px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        h2 {
            color: #343a40;
        }
       .btn-custom {
        background-color: green;
        color: white;
        border: 1px solid green;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        text-align: center;
        }
        .btn-custom:hover {
           background-color: darkgreen;
           border-color: darkgreen;
        }
        .alert {
            margin-top: 10px;
            color: #dc3545;
        }