@charset "UTF-8";

input.write {
    border-radius: 5px;
    border-color: black;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-label {
    margin-right: 10px; /* label과 input 사이의 간격 조정 */
    width: 20%;
    font-size: 12pt;
}

@media (max-width: 600px) {
    .form-label {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .form-label {
        font-size: 8px;
    }
}

.write {
    flex: 1; /* input 요소가 가능한 많은 공간을 차지하도록 */
}

input.btn-login {
    border-radius: 5px;
    border-color: #212529;
    background-color: #212529;
    color: white;
    border-right: 2px solid
}

input.btn-login:hover {
    background-color: #333; /* hover 상태에서 약간 밝은 색상으로 변경 */
    border-color: lightgray;
    color: red;
}

button.signup {
    border-radius: 5px;
    border-color: light-gray;
    background-color: #212529;
    color: white;
}

button.signup:hover  {
    background-color: #333; /* hover 상태에서 약간 밝은 색상으로 변경 */
    border-color: lightgray;
    color: red;
}

.no-border {
    border-width: 0;
}

.right-border {
    border-width: 0 0 1px;
    border-color: black;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

