@charset "UTF-8";

.wrapper {
  display: flex;
  flex-direction: column;
}

.container-fluid.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 100%;
  max-width: 600px; /* 카드의 최대 너비를 600px로 조정 */
  overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤 추가 */
  margin: 0 auto; /* 카드 컨테이너를 수평 중앙에 배치 */
}

.mypage-sidebar {
  width: 250px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 600px; /* 카드의 최대 너비를 600px로 조정 */
  margin: 0 auto; /* 카드 자체를 수평 중앙에 배치 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 카드에 그림자 효과 */
  border: 1px solid #ddd; /* 카드 테두리 색상 추가 */
  border-radius: 5px; /* 카드 모서리 둥글게 */
}

.card-header {
  background-color: #f8f9fa; /* 헤더 배경색을 밝게 */
  color: #7C9C63; /* 헤더 텍스트 색상 */
  border-bottom: 1px solid #ddd; /* 헤더와 바디 사이 테두리 추가 */
  padding: 10px 15px; /* 패딩 조정 */
  font-weight: bold; /* 폰트 두껍게 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.card-title {
  color: #7C9C63;
}

.card-body {
  padding: 20px; /* 기본값보다 큰 패딩 */
}

.mb-3 {
  margin-bottom: 0.5rem !important; /* 각 입력 필드 사이의 간격 줄임 */
}

.card-footer {
  background-color: #f8f9fa; /* 푸터 배경색을 밝게 */
  border-top: 1px solid #ddd; /* 푸터와 바디 사이 테두리 추가 */
  padding: 10px 15px; /* 패딩 조정 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.row .col-form-label {
  text-align: right;
  width: 120px;
}

label.col-sm-2.col-form-label {
  margin-right: -27px;
}

.row .form-control {
  margin-left: 10px;
}

/* 프로필 이미지 영역 스타일 */
.profile-image-area {
  margin-bottom: 20px;
  text-align: center; /* 중앙 정렬 */
}

#profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* 이미지 중앙 정렬 */
}

#deleteImage {
  cursor: pointer;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.profile-btn-area {
  margin-top: 10px;
  text-align: center; /* 중앙 정렬 */
}

.profile-btn-area label, .profile-btn-area button {
  margin-right: 10px;
}

#imageInput {
  display: none;
}

/* 새로운 CSS 클래스 추가 */
.card-reservation-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  color: #7C9C63;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.card-reservation {
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: -488px;
}

.card-reservation-body {
  padding: 15px;
}


/* 읽기 전용 입력 필드 스타일 */
.readonly-input {
    background-color: #ddd !important;
    cursor: not-allowed;
}

/* 비밀번호 확인 필드 스타일 */
#userPasswordConfirm {
    margin-top: 5px;
}

/* 에러 메시지 스타일 */
.password-error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}


